<div class="list__container">
    <div id="topOfPage"></div>
    <h1>All Books</h1>
    <div class="author__container">
        {{> book}}
    </div>
</div>

<div class="pagination">
    <a class="first__last" href="/book/?page=1">First</a>
    {{#if isFirst}}

    {{else}}
    <a href="/book/?page={{prevPage}}">Previous</a>
    {{/if}}

    {{#if isLast}}

    {{else}}
    <a href="/book/?page={{nextPage}}">Next</a>
    {{/if}}
    <a class="first__last" href="/book/?page={{totalPages}}">Last</a>
</div>

<p class="pagination__pages">Page {{currentPage}} of {{totalPages}}</p>